body{
    margin: 0;
    width: 100vw;
    font-family: sans-serif;
}

.container{
    width: 80vw;
    margin: auto;
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #F78181;
}

.nav-bar{
    width: 80vw;
    margin: auto;
}

.event-section{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.event{
    margin-top: 15px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
    width: 75%;
    background-color: #F2F2F2;
    border-radius: 10px;
    text-align: center;
}

.event:nth-child(2n+1){
    align-self: flex-end;
}

.list-item{
    display: inline-flex;
    padding: 15px;
    transition: all 0.3s;
}

a .list-item{
    color: #000;
}

.list-item:hover{
    background-color: #FE2E2E;
}

a .list-item:hover .list-item{
    color: #fff;
}

a{
    text-decoration: none;
}