body{
    margin: 0;
    width: 100vw;
    font-family: sans-serif;
    overflow-x: hidden;
}

.container{
    width: 80vw;
    margin: auto;
    margin-top: 80px;
    z-index: 10;
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #F78181;
    z-index: 999;
}

.nav-bar{
    width: 80vw;
    margin: auto;
}

.event-section{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.event{
    margin-top: 15px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
    width: 75%;
    background-color: #F2F2F2;
    border-radius: 10px;
    text-align: center;
}

.event:nth-child(2n+1){
    align-self: flex-end;
}

.list-item{
    display: inline-flex;
    padding: 15px;
    transition: all 0.3s;
}

.list-item, .list-item-right{
    vertical-align: middle;
}

a .list-item{
    color: #000;
}

.list-item:hover{
    background-color: #FE2E2E;
}

.list-item-right{
    float: right;
    padding: 10px;
}

a .list-item:hover .list-item{
    color: #fff;
}

a{
    text-decoration: none;
}

.dropdown{
    display: none;
}

li{
    list-style-type: none;
}

.dropdown li{
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    transition: all 0.4s;
}

.dropdown a{
    color: white;
}

.dropdown li:hover{
    background-color: gainsboro;
}

.dropdown-menu:hover .dropdown{
    display: block;
    position: fixed;
    padding: 0;
    margin: 0;
    margin-top: 38px;
    background-color: #999999;
    margin-left: -10px;
    text-align: center;
}
.info_profil{
    width: 60%;
    margin: auto;
}

/*============================================= EVENEMENTS=====================================*/
.form{
    display: none;
}
.submit{
    max-width: 100px;
}
.btnDelete, .btnUpdate {

    background-color: #e7e7e7;
    color: black;
    border: none;
    padding: 7px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 230px;
}
.btnCreate{
    background-color: #008CBA; /* Blue */
    color: white;
    border: none;
    padding: 7px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 230px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*============================================= EVENEMENTS FORMULAIRES=====================================*/

input[type=text], input[type=file], input[type=date], input[type=email], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea{
    height: 200px;
}
.dateBlock{
    width: 100%;
}
.date{
    display: inline-block;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}